@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/DMSerifText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
  font-family: 'DM Serif Text', serif;
}

.navbar-list>li>a.active {
  background-color: #dbb6ee;
  color: black;
}