<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta from electron -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'" />

    <title>Consultorio-app</title>
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/styles.css">
    <link rel="stylesheet" href="../../public/css/index.css">
</head>

<body class="index-container">
    <header class="navbar-container">
        <div class="navbar-wrapper">
            <h1 class="main-title">CONSULTORIO</h1>

            <nav class="main-navbar">
                <ul class="navbar-list">
                    <li><a href="#" id="new_client">Nuevo Paciente</a></li>
                    <li><a href="#" id="show_clients">Mostrar Pacientes</a></li>
                    <li><a href="#" id="new_turn"><span>Nuevo Turno</span></a></li>
                    <li><a href="#" id="show_turns">Mostrar Turnos</a></li>                    
                    <li><a href="#" id="close">Cerrar</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-container">
        <section class="main-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, est aliquam et natus voluptatibus voluptatum, repellat earum perferendis iure tenetur officiis quos, ipsam incidunt modi velit dolor? Ducimus, commodi quam!
        </section>

        <section class="info-content">
            <span id="clock"></span>
        </section>        
    </main>

    <script src="../ui/index.js"></script>
</body>

</html>