<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <title>Nuevo Turno</title>
</head>
<body>
    <div class="container p-4">
        <form class="p-4">
            <div class="form group">
                <input type="text" id="name" class="form-control" placeholder="Nombre" autofocus required="required" pattern="[A-Za-z].{1,}" title="Solo pueden ingresarse letras y un mínimo de 8 carácteres">
            </div>
            <br>
            <div class="form group">
                <input type="datetime-local" id="date" class="form-control" placeholder="fecha" required="required">
            </div>
            <br>
            <div class="form group">
                <button class="btn btn-success col-md-3 m-4" type="submit">Aceptar</button>

                <button class="btn btn-info col-md-3 m-4" type="reset">Limpiar Campos</button>

                <button class="btn btn-danger col-md-3 m-4" id="cancel">Cancelar</button>
            </div>
            
        </form>
    </div>
    <script src="../ui/new_turn.js"></script>
</body>
</html>