<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Meta from electron -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src data:; script-src 'self' 'unsafe-inline'" />
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; img-src data:; script-src 'self' 'unsafe-inline'" />
    
        <title>Consultorio-app</title>
        <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../../public/css/normalize.css">
        <link rel="stylesheet" href="../../public/css/styles.css">
        <link rel="stylesheet" href="../../public/css/index.css">
    </head>
    
    <body class="index-container">
        <header class="navbar-container">
            <div class="navbar-wrapper">
                <h1 class="main-title">CONSULTORIO</h1>
    
                <nav class="main-navbar">
                    <ul class="navbar-list">
                        <li><a href="#" id="new_client" class="active">Nuevo Paciente</a></li>
                        <li><a href="#" id="show_clients">Mostrar Pacientes</a></li>
                        <li><a href="#" id="new_turn">Nuevo Turno</a></li>
                        <li><a href="#" id="show_turns">Mostrar Turnos</a></li>
                        <li><a href="#" id="close">Cerrar</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    <main class="main-container">
        <form class="p-4">
            <div class="form group">
                <input type="text" id="name" class="form-control" placeholder="Nombre" autofocus required="required" pattern="[A-Za-z].{1,}" title="Solo pueden ingresarse letras y un mínimo de 8 carácteres">
            </div>
            <br>
            <div class="form group">
                <input type="text" id="lastname" class="form-control" placeholder="Apellido" required="required" pattern="[A-Za-z].{1,}" title="Solo pueden ingresarse letras">
            </div>
            <br>
            <select class="form-select" id="sex" aria-label="Default select example" required="required">
                <option selected value="">Sexo</option>
                <option value="femenino">Femenino</option>
                <option value="masculino">Masculino</option>
              </select>
            <br>
            <div class="form group">
                <input type="number" id="age" class="form-control" placeholder="Edad" required="required" min="0" title="El valor no puede ser menor a 0">
            </div>
            <br>
            <div class="form group">
                <input type="text" id="dni" class="form-control" placeholder="DNI" required="required" pattern="[0-9].{7,12}" title="El DNI debe tener mínimo 7 dígitos">
            </div>
            <br>
            <div class="form group">
                <input type="text" id="address" class="form-control" placeholder="Dirección">
            </div>
            <br>
            <div class="form group">
                <input type="text" id="so" class="form-control" placeholder="Obra Social">
            </div>
            <br>
            <div class="form group">
                <input type="text" id="carnet" class="form-control" placeholder="Número de Carnet" pattern=".{8,}" title="Debe tener mínimo 8 carácteres">
            </div>
            <br>
            <div class="form group">
                <input type="text" id="phone" class="form-control" placeholder="Teléfono" pattern="[0-9].{6,12}" title="Debe ingresar sólo números, un mínimo de 6 digitos y un máximo de 12">
            </div>
            <br>
            <div class="form group">
                <button class="btn btn-success col-md-3 m-4" type="submit">Aceptar</button>

                <button class="btn btn-info col-md-3 m-4" type="reset">Limpiar Campos</button>

                <button class="btn btn-danger col-md-3 m-4" id="cancel">Cancelar</button>
            </div>
            
        </form>
        <section class="info-content">
            <span id="clock"></span>
        </section>
    </main>
    <script src="../ui/new_client.js"></script>
    <script src="../ui/index.js"></script>
</body>
</html>